body{
    background: url("4365-11.jpg");
    background-repeat: no-repeat;
    background-size: 2000px;
}
.lab1{
    padding: 20px;
    margin: 200px 400px;
    width: 400px;
    color: white;
    font-size: medium;

}
#N{
    font-size: 20px;
}
#M
{
    font-size: 20px;
}
